/* CSS for home page (index.html) */
body {
    background: cornsilk;
}

main {
    display:grid;
    grid-template-columns: auto 1fr auto;
}

#fighter-display {
    background-color: blue;
    text-align: center;
}

#game-text {
    background-color: blueviolet;
    text-align: center;
}

#monster-display {
    background-color: brown;
    text-align: center;
}