/* CSS for home page (index.html) */
body {
    background: url('/assets/battle-background.png');
}

main {
    display:grid;
}

@media (min-width: 400px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        text-align: center;
    }
}

#monster-box {
    background-color: burlywood;
    border-radius: 5px;
}

#hero-box {
    background-color: burlywood;
    border-radius: 5px;
}

#game-text {
    background-color: burlywood;
    border-radius: 5px;
    
}

#fighter-display {
    /* background-color: blue; */
    text-align: center;
}

#game-text {
    /* background-color: blueviolet; */
    text-align: center;
}

#monster-display {
    /* background-color: brown; */
    color: rgb(186, 22, 22);
    text-align: center;
    
}

input {
    transition: box-shadow 300ms ease-out;
}

input:focus {
    box-shadow: 0px 0px 5px var(--light-blue-bg-color);
}
